* {
  box-sizing: border-box;
  caret-color: transparent;
  margin: 0;
  padding: 0;
  font-family: "Single Day", cursive, Tahoma, Geneva, Verdana, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3em;
  background-color: #eee;
  background-image: url(./images/background.jpg);
  background-size: cover;
}
.splash-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(9, 20, 31, 0.9);
  z-index: 999;
}
.splash-screen p {
  padding: 0;
  margin: 0;
  font-size: 2em;
  font-weight: bold;
  color: rgb(255, 23, 23);
  text-shadow: 0 0 15px rgb(58, 58, 58);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.splash-screen button {
  z-index: 99999;
  background-color: orange;
  padding: 15px 30px;
  border: none;
  font-size: 0.75em;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 15px orange, 0px 0px 30px rgb(255, 186, 57),
    0px 0px 45px rgb(255, 255, 255);
  cursor: pointer;
}
.splash-screen button:active {
  box-shadow: 0px 0px 5px orange, 0px 0px 10px rgb(255, 186, 57),
    0px 0px 15px rgb(255, 255, 255);
}
.main-container {
  position: relative;
  width: 100%;
}

.header {
  padding: 15px;
  border-bottom: 7px solid #1d181d;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 5px rgb(42, 42, 42);
}
.header .name span {
  color: rgb(50, 50, 200);
}
.header .wrong-tries span {
  color: rgb(200, 50, 50);
}
.game-container {
  margin: 10px auto;
  position: relative;
  perspective: 1000px;
  display: grid;
  padding: 5px;
}

.game-container .block {
  position: relative;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  cursor: pointer;
  border-radius: 20px;
  z-index: 200;
}
.game-container .block.flipped,
.game-container .block.correct {
  border-radius: 20px;
  transform: rotateY(180deg);
  pointer-events: none;
}
.game-container.forbid {
  border-radius: 20px;
  pointer-events: none;
  transform: none;
}

.game-container .block .back {
  background-color: #513232;
  position: relative;
  border-radius: 20px;
}

.game-container .block .back::before {
  border-radius: 20px;
  content: "!";
  color: #fff;
  font-size: 3em;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0px 0px 10px #2e1c1c;
}

.game-container .block .back,
.game-container .block .face {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  border: 5px solid #3f2222;
  box-shadow: 0px 5px 10px #2e1c1c;
}
.game-container .block .face {
  border-radius: 20px;
  transform: rotateY(180deg);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container .block .face img {
  border-radius: 20px;
  width: 60%;
  padding: 5px;
}
@media screen and (min-width: 900px) {
  .game-container {
    width: 780px;
    height: 625px;
    grid-template-columns: repeat(5, 150px);
    grid-template-rows: repeat(4, 150px);
    gap: 5px;
    padding: 5px;
  }
}
