* {
  box-sizing:border-box;
  caret-color: transparent;
  margin: 0;
  padding: 0;
  font-family: "Single Day", cursive, Tahoma, Geneva, Verdana, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items:flex-start;
  font-size: 2.5em;
  background-image: url(./images/background.jpg);
  background-color: #eee;
  background-size: cover;
  background-blend-mode: soft-light;
}

.splash-screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(9, 20, 31, 0.8);
  z-index: 999;
}

.splash-screen button {
  z-index: 99999;
  background-color: orange;
  padding: 15px 30px;
  border: none;
  font-size: 0.75em;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 15px orange, 0px 0px 30px rgb(255, 186, 57),
    0px 0px 45px rgb(255, 255, 255);
  cursor: pointer;
}

.splash-screen button:active {
  box-shadow: 0px 0px 5px orange, 0px 0px 10px rgb(255, 186, 57),
    0px 0px 15px rgb(255, 255, 255);
}

.main-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
}

.header {
  position: sticky; 
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 7px solid #1d181d;
  font-weight: bolder;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 5px rgb(28, 28, 28); 
}
.header .name span {
  color: rgb(50, 50, 200);
}
.header .wrong-tries span {
  color: rgb(200, 50, 50);
}
.game-container {
  margin: 50px auto;
  position: relative;
  perspective: 1000px;
  display: grid;
  justify-content: center;
  width: 90vw;
  height: 75vh;
}

.game-container .block {
  position: relative;
  transition: transform 0.3s;
  transform-style: preserve-3d;
  cursor: pointer;
  border-radius: 20px;
  z-index: 200;
}
.game-container .block.flipped,
.game-container .block.correct {
  transform: rotateY(180deg);
  pointer-events: none;
}

.game-container.forbid {
  pointer-events: none;
  transform: none;
}

.game-container .block .back {
  background-color: #513232;
  position: relative;
  border-radius: 20px;
}

.game-container .block .back::before {
  border-radius: 20px;
  content: "!";
  color: #fff;
  font-size: 3em;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0px 0px 10px #2e1c1c;
}

.game-container .block .back,
.game-container .block .face {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  border: 5px solid #3f2222;
  box-shadow: 0px 5px 10px #231616;
}
.game-container .block .face {
  border-radius: 20px;
  transform: rotateY(180deg);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container .block .face img {
  border-radius: 20px;
  width: 60%;
  padding: 5px;
}

@media screen and (min-width: 901px) {
  .game-container {
    grid-template-columns: repeat(5, calc(80%/5));
    grid-template-rows: repeat(4, calc(80%/4));
    gap: 5px;
  }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  .game-container {
    grid-template-columns: repeat(5, calc(80%/5));
    grid-template-rows: repeat(4, calc(80%/4));
    gap: 5px;
  }
  .game-container .block .back::before {
    font-size: 2em;
  }
  .header {
    font-size: 1em;
  }
}
@media screen and (max-width: 600px) {
  .game-container {
    grid-template-columns: repeat(4, calc(80%/4));
    grid-template-rows: repeat(5, calc(80%/5));
    gap: 5px;
  }
  .game-container .block .back::before {
    font-size: 2em;
  }
  .header {
    font-size: 0.7em;
  }
}
